<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Resume Builder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body{
            color:white;
        }
        .navbar-brand{
            font-size:30px;
        }
        .grow img{
            transition:1s ease;
        }
        .grow img:hover{
            -webkit-transform:scale(1.2);
            -ms-transform:scale(1.2);
            transform:scale(1.2);
            transition:1s ease;
        }
    </style>
</head>
<body style="background-color:#203647">
   
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#203647">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="font-weight:bold; text-decoration-color:white">
                    @Html.ActionLink("Resume Builder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="font-weight:bold; text-decoration-color:white;font-size:large">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li style="font-weight:bold; text-decoration-color:white;font-size:large">@Html.ActionLink("About", "About", "Home")</li>
                    <li style="font-weight:bold; text-decoration-color:white;font-size:large">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="color:white">
            <p>&copy; @DateTime.Now.Year - Resume Builder</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
